<!DOCTYPE html>
<html>
  <head>
  
  <div class='view'>

    <ul class='sidebar'>
      <li>
        <a href='/catalog'>Home</a>
      </li>
      <li>
        <a href='/catalog/hat/list'>All Hats</a>
      </li>
      <li>
        <a href='/catalog/category/list'>All Categories</a>
      </li>
      <li>
        <a href='/catalog/hatInstance/list'>Hat Instances</a>
      </li>
      <li>
        <a href='/catalog/create/hat'>Create new Hat</a>
      </li>
      <li>
        <a href='/catalog/category/create'>Create new Category</a>
      </li>
      <li>
        <a href='/catalog/hatInstance/create'>Create new instance of a hat</a>
      </li>
    </ul>

    
  <div class='content'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>

    <div>Info about the hat:</div>
    <!-- write it in js first then just surround each line with <% %>, use <%= %> to actually display it -->

    <div> <%=hat.name%></div>
    <div> $<%=hat.price%></div>
    <div><%= hat.category[0].name%></div>
    <div><%= hat.category[0].description%></div>
    <% console.log('hatInstances:', hatInstances); %>

    <ul>
    <%hatInstances.forEach( (item) => {%>
        <li class='singleHat'>
           <% let urls = '/catalog/hatInstance/' + item._id; %>
        <div><a href= <%= urls %> > <%=hat.name%> Serial: <%=item.serial%> </a></div>
        </li>
    <%});%>
    </ul>


  </div>

  </body>
</html>
