<!DOCTYPE html>
<html>
  <head>
  
  <div class='view'>

    <ul class='sidebar'>
      <li>
        <a href='/catalog'>Home</a>
      </li>
      <li>
        <a href='/catalog/hat/list'>All Hats</a>
      </li>
      <li>
        <a href='/catalog/category/list'>All Categories</a>
      </li>
      <li>
        <a href='/catalog/hatInstance/list'>Hat Instances</a>
      </li>
      <li>
        <a href='/catalog/create/hat'>Create new Hat</a>
      </li>
      <li>
        <a href='/catalog/category/create'>Create new Category</a>
      </li>
      <li>
        <a href='/catalog/hatInstance/create'>Create new instance of a hat</a>
      </li>
    </ul>

    
  <div class='content'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>

    <div>The current hats are:</div>
    <!-- write it in js first then just surround each line with <% %>, use <%= %> to actually display it -->
    <ul>
    <%hat_list.sort();%>
    <%hat_list.forEach( (item) => {%>
        <li class='singleHat'>
        <a href=item.url><%=item.name%></a>
        <div>Price: <%=item.price%></div>
        <div>Category: <%= item.category[0].name %></div>
        </li>
    <%});%>
    </ul>


  </div>

  </body>
</html>
