<!DOCTYPE html>
<html>
  <head>
  
  <div class='view'>

    <ul class='sidebar'>
      <li>
        <a href='/catalog'>Home</a>
      </li>
      <li>
        <a href='/catalog/hat/list'>All Hats</a>
      </li>
      <li>
        <a href='/catalog/category/list'>All Categories</a>
      </li>
      <li>
        <a href='/catalog/hatInstance/list'>Hat Instances</a>
      </li>
      <li>
        <a href='/catalog/hat/create'>Create new Hat</a>
      </li>
      <li>
        <a href='/catalog/category/create'>Create new Category</a>
      </li>
      <li>
        <a href='/catalog/hatInstance/create'>Create new instance of a hat</a>
      </li>

    </ul>


  <div class='content'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, the best places to buy hats!</p>

    <p>The current available inventory is:</p>
    <ul>
      <li>Different Types of Hats Available: <%= data.hat_count %></li>
      <li>Total units in stock now: <%= data.hatInstance_count %></li>
      <li>Different Categories of hats: <%= data.category_count %></li>
    </ul>
  </div>


  </div>

  </body>
</html>
